<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <!-- TODO #3 - Use the same list display from search.html -->
    <!-- display full job listings, just like the search results page
    -reuse the code written in search.html by defining a new fragment in that file,
    then include the fragment in list.jobs.html.
    -->
    <p th:replace="fragments :: results"></p>
</div>

</body>
</html>